*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #250001;
}

.header{
    background-color: #FCBA04;
}

.name{
    text-align: center;
    margin: 0;
    color: #560004;
    font-size: 4em;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: white;
    color: black;
}

nav li{
    display: inline;
}

.main-nav{
    text-align: center;

}

.main-nav li{
    padding: 0 5%;
}

.section{
    background-color: white;
    text-align: center;
}

.footer {
    background-color: #FCBA04;
    color: #250001;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .25em 0;
    align-items: center;
}

.footer-container {
    flex-grow: 1;
    align-items: center;
    justify-content: start;
}

.img {
    width: 30px;
    height: 30px;
}

.btn{
    color: whitesmoke;
    background-color: #A50104;
    font-size: xx-large;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-property: box-shadow, transform;
    border-radius: 25%;
}

.btn:hover, btn:focus, btn:active{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.B{
    text-align: center;
    font-size: xx-large;
    color: #A50104;
}

.link-container {
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 90%;
    padding-right: 1%;
}
